doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socket.js')
    script(id='format-template', type='text/x-handlebars-template').
      <li><a target="_blank" href="{{location}}">{{name}}</a></li>